# Ignorar arquivos de dados dos Odus

# Não versionar dados sensíveis e PDFs dos Odus
data/
256-odus-pdf/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv311/
venv/
.env

# Docker
*.log
docker-compose.override.yml

# VSCode
.vscode/

# Outros
*.sqlite3
*.db
